  <center>
  <div class=banner>
      <h1>JukeGenie!</h1>
  </div>
  </center>

<div class="text">
<div>
  <center><div><%= button_to 'Enable 2 Factor Authentication', '/dashboard', method: :patch, params: { two_factor: 1, user: @user.id } %></div></center> 
  <center><div><%= button_to 'Disable 2 Factor Authentication', '/dashboard', method: :patch, params: { no_two_factor: 1, user: @user.id } %></div></center>   

  <div><%= link_to "New Juke!", new_dashboard_playlist_path, method: :get, class: "relative text-1xl font-bold rounded text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></div>
  <div><%= link_to "Join a Juke!", "/users/#{@user.id}/search", method: :get, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></div>
   <div><%= link_to "Explore Nearby Jukes!", "/dashboard/explorejukes", method: :get, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></div>

  <center><div>Current Jukes:</div></center>
  <div id="hosted">Hosted:</div>
  <% @hosted_playlists.each do |playlist| %>
   <center><div> <%= link_to "#{playlist[:name]}", dashboard_playlist_path(playlist[:id]), method: :get, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700"%></div> </center>
  <%end%>
  <div id="joined">Joined:</div>
    <% @joined_playlists.each do |playlist| %>
   <center><div> <%= link_to "#{playlist[:name]}", dashboard_playlist_path(playlist[:id]), method: :get, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700"%></div> </center>
  <%end%>
</div>


<div>
  <div>
   <%=@user.username %>'s Juke Page<div>
    <center><%= button_to 'Logout', '/sessions', method: :patch, params: { logout: true, id: @user.id}, class: "relative text-1xl font-bold rounded r-lg text-white bg-emerald-600 hover:bg-emerald-500 focus:bg-emerald-700" %></center>   
</div>
</div>

