<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
       <% flash.each do |type, msg| %>
        <% if type == "success" %>
         <div id=flash_message>
            <p style="color:green"><b><%= msg %></b></p>
          </div>
        <% else %>
          <div id=flash_message>
        <div id="green-bg">
            <p style="color:red"><b><%= msg %></b></p>
          </div>
          </div>
        <% end %>
      <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
